@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500');

html {
  --grey-900: rgba(33,33,33 ,1);
  --grey-800: rgba(66,66,66 ,1);
  --gray-700: rgba(97,97,97 ,1);
  --grey-600: rgba(117,117,117 ,1);
  --grey-500: rgba(158,158,158 ,1);
  --grey-400: rgba(189,189,189 ,1);
  --grey-300: rgba(224,224,224 ,1);
  --grey-200: rgba(238,238,238 ,1);
  --grey-100: rgba(245,245,245 ,1);
  --grey-50: rgba(250,250,250 ,1);

  --grey-200-transparent: rgba(238, 238, 238, 0.6);
}

/* reset */
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#novel-app {
  height: 100%;
}

/* app specific */
.app {
  height: 100%;
  display: flex;
}

.contents {
  flex-grow: 1;
  background-color: var(--grey-50);
  padding-top: 120px;
  padding-left: 40px;
}
